<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C2375EA1ED838D900ECB516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C2376001ED838D900ECB516</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C5C6D191EFF655B00714971</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8114DA2338B63300F607BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
