
libs/karax
libs/Nim
sources/react/node_modules
sources/react/.awcache/*
sources/macos/Tenniarb/Tenniarb.xcodeproj/xcuserdata/haiodo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sources/macos/Tenniarb/Tenniarb.xcodeproj/project.xcworkspace/xcuserdata/haiodo.xcuserdatad/UserInterfaceState.xcuserstate
sources/nim/demo
sources/macos/Tenniarb/Tenniarb.xcodeproj/xcuserdata/haiodo.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
sources/macos/Tenniarb/Tenniarb.xcodeproj/project.xcworkspace/xcuserdata/haiodo.xcuserdatad/UserInterfaceState.xcuserstate
sources/macos/Tenniarb/Tenniarb.xcodeproj/project.xcworkspace/xcuserdata/haiodo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
*.xcuserstate
*.xcuserstate
sources/macos/diagraming/Diagraming.playground/playground.xcworkspace/xcuserdata/haiodo.xcuserdatad/UserInterfaceState.xcuserstate
*.xcbkptlist
sources/macos/Tenniarb/Tenniarb.xcodeproj/project.xcworkspace/xcuserdata/haiodo.xcuserdatad/UserInterfaceState.xcuserstate
