<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>26</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>tenniarb.tenn</string>
			<key>UTTypeIconFile</key>
			<string>Icon.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>text/plain</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>tenn</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Tenniarb</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tenn</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Tenn</string>
			<key>CFBundleTypeIconFile</key>
			<string>Icon.icns</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>tenniarb.tenn</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>Tenniarb.Document</string>
		</dict>
	</array>
	<key>NSPrincipalClass</key>
	<string>Tenniarb.TenniarbApplication</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key></key>
			<string></string>
			<key>UTTypeIdentifier</key>
			<string>tenniarb.tenn</string>
			<key>UTTypeIconFile</key>
			<string>Icon.icns</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Tenn Brain Map</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.mime-type</key>
				<array>
					<string>text/plain</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>tenn</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMessage</key>
			<string></string>
			<key>NSMenuItem</key>
			<dict/>
		</dict>
		<dict/>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Andrey Sobolev. All rights reserved.</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
</dict>
</plist>
